USE [master]
GO
/****** Object:  Database [POCecommercesite]    Script Date: 08-03-2021 08:22:17 PM ******/
CREATE DATABASE [POCecommercesite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POCecommercesite', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\POCecommercesite.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POCecommercesite_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\POCecommercesite_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POCecommercesite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POCecommercesite]
GO
/****** Object:  Table [dbo].[tblCart]    Script Date: 08-03-2021 08:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCart](
	[Quantity_wished] [decimal](5, 0) NOT NULL,
	[Date_Added] [datetime] NOT NULL,
	[CartID] [varchar](10) NOT NULL,
	[UserID] [varchar](10) NOT NULL,
	[ProductID] [varchar](10) NOT NULL,
	[Purchased] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 08-03-2021 08:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[CategoryID] [varchar](10) NOT NULL,
	[CatergoryName] [varchar](20) NULL,
	[SellerID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 08-03-2021 08:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[ProductID] [varchar](10) NOT NULL,
	[CategoryID] [varchar](10) NULL,
	[ProductColor] [varchar](15) NOT NULL,
	[ProductSize] [varchar](10) NOT NULL,
	[Cost] [decimal](5, 0) NOT NULL,
	[Quantity] [decimal](5, 0) NOT NULL,
	[SellerID] [varchar](10) NOT NULL,
	[ProductDescription] [text] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSeller]    Script Date: 08-03-2021 08:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSeller](
	[SellerID] [varchar](10) NOT NULL,
	[SellerPassword] [varchar](10) NOT NULL,
	[SellerName] [varchar](20) NOT NULL,
	[SellerEmail] [varchar](255) NOT NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblShippingDetails]    Script Date: 08-03-2021 08:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblShippingDetails](
	[ShippingDetailID] [varchar](10) NOT NULL,
	[UserID] [varchar](10) NOT NULL,
	[UAddress] [varchar](500) NULL,
	[UCity] [varchar](500) NULL,
	[UState] [varchar](500) NULL,
	[UCountry] [varchar](50) NULL,
	[UZipCode] [varchar](50) NULL,
	[ProductID] [varchar](10) NULL,
	[AmountPaid] [decimal](18, 0) NULL,
	[PaymentType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShippingDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 08-03-2021 08:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserID] [varchar](10) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[UserPassword] [varchar](20) NOT NULL,
	[Firstname] [varchar](20) NOT NULL,
	[Lastname] [varchar](20) NOT NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCart] ADD  DEFAULT (getdate()) FOR [Date_Added]
GO
ALTER TABLE [dbo].[tblCart] ADD  DEFAULT ('NO') FOR [Purchased]
GO
ALTER TABLE [dbo].[tblProduct] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblProduct] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[tblSeller] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[tblUser] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[tblCart]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProduct] ([ProductID])
GO
ALTER TABLE [dbo].[tblCart]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUser] ([UserID])
GO
ALTER TABLE [dbo].[tblCategory]  WITH CHECK ADD FOREIGN KEY([SellerID])
REFERENCES [dbo].[tblSeller] ([SellerID])
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tblCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD FOREIGN KEY([SellerID])
REFERENCES [dbo].[tblSeller] ([SellerID])
GO
ALTER TABLE [dbo].[tblShippingDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProduct] ([ProductID])
GO
ALTER TABLE [dbo].[tblShippingDetails]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUser] ([UserID])
GO
USE [master]
GO
