/* Small Devices */
@media only screen and (max-width: 767px) {
    
    .navbar-default {
        
        background-color: #fff;
    }
    .navbar-brand{
        width: 40%;
    }
    .navbar-brand img{
        width: 100%;
        height: 60px;
        padding-top: -20px;
    }
    .navbar-nav img{
        width: 25%;
        height: 0px;
        align-items: right;
    }
    .top-part .iphone{
        padding-top: 20px;
        
    }
    .top-part .iphone .carousel-inner .item-right img {
       visibility: hidden;
    }
    .top-part .iphone .carousel-inner .col-md-4 {
        width: 80%;
    }
    .right-col .top-bar{
        padding-top: 24px;
    }
    .main-part .price .col-md-4{
        width: 50%;
        text-align: left;
    }
    .main-part  .pagination{
        text-align: center;
        background-color: #e5e8ea;
        max-width:auto;
        padding-left: 50px;
    }
    .main-part .brand .col-md-6{
        width: 0%;
        text-align: center;
    }
    .right-col .top-bar .navbar-default{
        visibility: hidden;
    }
    .main-part .product .row .col-md-4{
        padding-top: 24px;
        height: auto;
        align-items: center;
    }
    .main-part .product .r2 {
        padding-top: 0px;
    }
    .copy2021 .container{
        padding-left: 0px;
    }
}

/* Small Devices And Tablets */
@media only screen and (max-width: 768px) {
    .header .navbar-default {
        height: 100px;
      }

    .navbar-nav img {
        padding-top: 0px;
        width: 100%;
        height:20px;
      }
    .navbar-nav .navtext p {
        padding-top: 10px;

    }
    .navbar-nav .navtextgrey p {
        padding-top: 10px;
      }

    .top-part .iphone .carousel-inner .item-right img {
        visibility: hidden;
     }
     .main-part .price .col-md-4{
        width: 50%;
        text-align: left;
    }
    .right-col .top-bar {
        padding-top: 20px;
    }
    .main-part .more {
        text-align: left;
    }
    .main-part .product .row .col-md-4{
        padding-top: 24px;
        height: auto;
        align-items: center;
    }
    .main-part .product .r2 {
        padding-top: 0px;
    }
    .copy2021 .container{
        padding-left: 0px;
    }
    .main-part  .pagination{
        text-align: center;
        background-color: #e5e8ea;
        max-width:auto;
        padding-left: 160px;
    }
}

/* Medius Devices , Desktop */
@media only screen and (min-width: 992px) {
    
    .main-part .pagination{
        padding-left: 280px;
    }
}

/* Large Devices, Wide Screen */
@media only screen and (min-width: 1200px) {
    
    
}
